---
---
<footer class="w-full text-center border-t-2 border-gray-800 pt-3 gap-2 mt-6 tracking-wide ">
    <div class="text-lime-800 ">
        <p>¡Gracias por visitar mi portfolio!</p>
      </div>
    <div class="text-zinc-400 pb-2 text-sm">
        <p>Desarrollado con Astro, React, Tailwind CSS y TypeScript.</p>
        <p>Visita el <a href="https://github.com/Abel-Leiva/portfolio-astro" target="_blank" rel="noopener noreferrer" class="text-blue-700 cursor-pointer">repositorio</a> para más detalles.</p>
      </div>
      
    

</footer>